
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title> <%= data.config.NAME %> - Login </title>
        <link rel="icon" href="<%= data.config.favicon %>" type="image/x-icon">

        <%- include("../importedSites/meta.ejs", {currentPage:"Login"}) %>
        <%- include("../importedSites/linksAndScripts.ejs", {currentPage:"login"}) %>
        
    </head>

    <body onload="defineVariables()">
        <%- include("../importedSites/sideMenu.ejs") %>
        <%- include("../importedSites/settingsMenu.ejs", {redirectFlag:"normal"}) %>
        
        <div id="mainWrapper">  
            <%- include("../importedSites/topBar.ejs") %>          
            <%- include("../importedSites/loginForm.ejs") %>
                
        </div>
    </body>

    
</html>